<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/7645f80506.js" crossorigin="anonymous"></script>
  <title>MERCADO LIEBRE</title>
</head>

<body class="home">
  <header>
    <section class="header__nav__menu">
      <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
      <div class="barraBusq">
        <form action="busqueda">
          <input type="text" name="busquedaProducto" placeholder="Buscar productos, marcas" />
          <button>
            <i class="fas fa-search"></i>
          </button>
          <!-- <button type="submit">Buscar</button> -->
        </form>
      </div>
      <p>
        <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tajeta
        de crédito
      </p>
      <nav class="home_header_nav">
        <ul>
          <li><a href="ofertas">Ofertas</a></li>
          <li><a href="tiendasOficiales">Tiendas Oficiales</a></li>
          <li><a href="vender">Vender</a></li>
          <li><a href="ayuda">Ayuda</a></li>
        </ul>
      </nav>
      <nav class="home_header_nav">
        <ul>
          <li>
            <a href="creaTuCuenta">Creá tu cuenta <i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="ingresa">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="misCompras">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
    </section>
    <div class="menu">
      <i class="fa-solid fa-bars"></i>
    </div>
  </header>

  <!-- MAIN -->

    <main>
      <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner" />
      </div>

      <!-- SECCIÓN VISITAS -->

      <section class="visitas">
        <h2>Basado en tu última visita</h2>
        <article>
          <div class="images">
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" />
          </div>
          <div class="container-info">
            <div class="info">
              <div class="circle">
                <i class="fa-solid fa-truck"></i>
              </div>
              <h4>$6.770</h4>
              <h5>40% OFF</h5>
              <h3>Cafetera Moultinex</h3>
            </div>
          </div>
        </article>
        <article>
          <div class="images">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              width="360"
              alt="MacBook"
            />
          </div>
          <div class="container-info">
            <div class="info">
              <div class="circle">
                <i class="fa-solid fa-truck"></i>
              </div>
              <h4>$230.00</h4>
              <h5>20% off</h5>
              <h3>MacBook Pro 2019</h3>
            </div>
          </div>
        </article>
        <article>
          <div class="images">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              width="360"
              alt="Galaxy"
            />
          </div>
          <div class="container-info">
            <div class="info">
              <div class="circle">
                <i class="fa-solid fa-truck"></i>
              </div>
              <h4>$70.500</h4>
              <h5>10% off</h5>
              <h3>Samsung Galaxy S10</h3>
            </div>
          </div>
        </article>
        <article>
          <div class="images">
            <img
              src="/images/img-tv-samsung-smart.jpg"
              width="360"
              alt="SmartTv"
            />
          </div>
          <div class="container-info">
            <div class="info">
              <div class="circle">
                <i class="fa-solid fa-truck"></i>
              </div>
              <h4>$23.200</h4>
              <h5>5% off</h5>
              <h3>Smart Tv Samsung 43"</h3>
            </div>
          </div>
        </article>
      </section>

      <!-- SECCIÓN OFERTAS -->

    <section class="ofertas">
      <h2>Sección de Ofertas</h2>
      <article>
        <div class="images">
          <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" />
        </div>
        <div class="container-info">
          <div class="info">
            <div class="circle">
              <i class="fa-solid fa-truck"></i>
            </div>
            <h4>$6.770</h4>
            <h5>40% off</h5>
            <h3>Cafetera Moulinex</h3>
          </div>
        </div>
      </article>
      <article>
        <div class="images">
          <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" />
        </div>
        <div class="container-info">
          <div class="info">
            <div class="circle">
              <i class="fa-solid fa-truck"></i>
            </div>
            <h4>$230.00</h4>
            <h5>20% off</h5>
            <h3>MacBook Pro 2019</h3>
          </div>
        </div>
      </article>
      <article>
        <div class="images">
          <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Galaxy" />
        </div>
        <div class="container-info">
          <div class="info">
            <div class="circle">
              <i class="fa-solid fa-truck"></i>
            </div>
            <h4>$70.500</h4>
            <h5>10% off</h5>
            <h3>Samsung Galaxy S10</h3>
          </div>
        </div>
      </article>
      <article>
        <div class="images">
          <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv" />
        </div>
        <div class="container-info">
          <div class="info">
            <div class="circle">
              <i class="fa-solid fa-truck"></i>
            </div>
            <h4>$23.200</h4>
            <h5>5% off</h5>
            <h3>SmartTv Samsung 43"</h3>
          </div>
        </div>
      </article>
      <!-- FINAL ARTICULOS -->

      <div class="volverArriba">
        <i class="fas fa-hand-point-up"></i>
        <a href="#">Volver arriba</a>
        <i class="fas fa-hand-point-up"></i>
      </div>
    </section>
  </main>

  <!-- FOOTER -->

    <footer class="footer">
      <section class="complementos">
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <h5>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </h5>
      </section>
      <section class="complementos">
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <h5>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos
        </h5>
      </section>
      <section class="complementos">
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <h5>
          No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </h5>
      </section>
      <section class="copyright">
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
      </section>
    </footer>
  </body>
</html>