/* GENERAL */

/* body {
  font-family:'Roboto', sans-serif ;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

/* HEADER */

header {
  background-color: var(--colorAmarillo);
}

.logo {
  margin: 20px;
}

/* .barraBusq {
  margin-left: 10px;
} */


.menu {
  text-align: center;
  padding-bottom: 10px;
}

.menu i {
  color: whitesmoke;
  background-color: #0f4ead;
  padding: 10px;
  border-radius: 10%;
}

.container-barra {
  position: relative;
}

.container-barra input {
  width: 100%;
  border: 1px solid silver;
  padding: 5px;
  padding-right: 30px;
  border-radius: 5px;
}

.container-barra button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

.header-log {
  display: flex;
}

.header-log img {
  width: 50%;
}

.header-log .barraBusq {
  width: 50%;
  margin: 20px 5px;

}


.home_header_nav {
  height: 70px;
  margin-bottom: 10px;
  display: none;
}

.home_header_nav ul {
  display: none;
}

.home_header_nav ul li {
  list-style: none;
  margin-left: -35px;
}

.home_header_nav ul li a {
  text-decoration: none;
  color: #363636;
}

p {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
}

h2 {
  font-size: 23px;
  color: var(--colorGrisOscuro);
  text-align: center;
  padding-bottom: 10px;
}

h3 {
  display: none;
}

h4 {
  font-size: 18px;
  margin: 20px 0px;
}



/* BODY */

/* MAIN */

main {
  background-color: #ebebeb;
}

.banner {
  width: 100%;
  height: 80px;
  margin-top: 10px;
}

.banner img {
  width: 100%;
  height: 80px;
}

main h5 {
  font-size: 16px;
  color: var(--colorVerde);
  margin: 20px 0px;
}

.visitas {
  border-top: 10px solid white;
}

main article img {
  width: 90%;
}

main .container-info {
  width: 90%;
  background-color: #ffffff;
  margin-left: 16px;
  height: 130px;
  margin-bottom: 10px;
}

.numeros {
  display: flex;
}

.numeros h4 {
  width: 30%;
}

.numeros h5 {
  width: 70%;
}

.info h3 {
  font-size: 26px;
  padding-top: 15px;
}

.info {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  margin-top: 3px;
  margin-left: 18px;
  padding-top: 3px;
  height: 100%;
}

.images {
  display: block;
  text-align: center;
  height: 50%;
  width: 100%;
}

article {
  line-height: 10px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article i {
  color: var(--colorVerde);
  padding-left: 12px;
  padding-top: 12px;
}

.circle {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid var(--colorVerde);
}

/* ICONO MOVIL */

.container .container-info .info .icono {
  display: flex;
  flex-wrap: wrap;
}


/* FOOTER */

.footer {
  text-align: center;
  padding-bottom: 10px;
  font-style: normal;

}

.footer .complementos {
  margin-left: 20px;
  margin-right: 20px;
}

.footer h3 {
  display: block;
  color: #504f4f;
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
}

.footer h5 {
  margin: 0;
  margin-bottom: 5px;
  color: var(--colorGrisOscuro);
}

.footer section i {
  color: var(--colorCeleste);
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-top: 40px;
}

.copyright h5 {
  margin-top: 50px;
  margin-left: 0;
  text-align: left;
  font-size: 15px;
}



/* MEDIA QUERYS */

/* TABLET */

@media (min-width: 768px) {
  /* HEADER */

  .container-header {
    display: flex;
    align-items: center;
  }


  .header-log {
    display: flex;
    width: 50%;
  }

  .header-log img {
    width: 50%;
  }

  .header-log .barraBusq {
    width: 50%;
    margin: auto;

  }

  .header-log p {
    width: 50%;
  }


  .header__nav__menu {
    height: 150px;
  }

  .home_header_nav {
    height: 100%;
    margin-bottom: 10px;
    display: flex;
  }

  .header__nav__menu p {
    font-size: 20px;
    margin-left: 20px;
  }

  .header__nav__menu .listas {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 30px;
    padding: 0 10px;
  }

  .home_header_nav ul {
    display: flex;
  }

  .home_header_nav ul li {
    list-style: none;
    margin: 0 8px;
  }

  .home_header_nav ul li a {
    text-decoration: none;
    color: #363636;
  }

  .menu {
    display: none;
    background-color: #eac926;
  }


  /* MAIN */

  .banner {
    width: 100%;
    height: 163px;
  }

  .banner img {
    width: 100%;
    height: 100%;
  }

  main .container-info {
    width: 90%;
    background-color: #ffffff;
    height: 170px;
    margin-bottom: 10px;
  }

  article i {
    color: var(--colorVerde);
    padding: 7px;
  }

  .container .container-info .info .icono {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
    left: 200px;
    bottom: 45px;
  }


  .cont.info .info .circle {
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 50%;
    border: 2px solid var(--colorVerde);

  }

  .info .extra {
    margin-left: 50px;
  }

  .visitas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container {
    width: 47%;
    margin: 10px;
  }

  .info {
    margin: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    position: relative;
  }

  .images {
    display: block;
    text-align: center;
    height: 65%;
    width: 100%;
  }

  h2 {
    font-size: 34px;
    color: var(--colorGrisOscuro);
    text-align: left;
  }

  .numeros {
    text-align: center;
  }

  .info h4 {
    width: 50%;
  }

  .info h5 {
    width: 50%;
  }

  .info h3 {
    display: block;
    font-size: 18px;
    color: var(--colorGrisOscuro);
    padding-top: 7px;
    padding-left: 15px;
  }

  .volverArriba {
    padding: 10px;
    text-align: center;
  }


  /* FOOTER */

  .copyright h5 {
    padding-left: 10px;
    font-size: 20px;
  }

}


/* DESKTOP */

@media (min-width: 1024px) {

  /* HEADER */

  p {
    font-size: 20px;
    margin-left: 20px;
  }

  .container-header {
    display: flex;
    justify-content: space-around;
  }


  .header-log {
    display: flex;
    width: 50%;
  }

  .header-log img {
    width: 50%;
  }

  .header-log .barraBusq {
    width: 50%;
    margin: auto;

  }

  .header-log p {
    width: 50%;
  }


  .header__nav__menu {
    height: 170px;
  }


  .home_header_nav {
    height: 100%;
    margin-bottom: 10px;
    display: flex;
  }

  .header__nav__menu .listas {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 30px;
    padding: 0 10px;
  }

  .home_header_nav ul {
    display: flex;
  }

  .home_header_nav ul li {
    list-style: none;
    margin: 0 8px;
  }

  .home_header_nav ul li a {
    text-decoration: none;
    color: #363636;
  }

  .menu {
    display: none;
    background-color: #eac926;
  }


  /* MAIN */



  .banner {
    width: 100%;
    height: 163px;
  }

  .banner img {
    width: 100%;
    height: 100%;
  }

  main .container-info {
    display: flex;
    width: 100%;
    height: 30%;
    margin: 0;
    border: none;
    border-top: 2px solid rgb(190, 190, 193);
  }

  /* NUEVO  */

  .cont.info .info .circle {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid var(--colorVerde);
    align-self: flex-end;
  }

  .info .extra {
    margin-left: 50px;
  }

  .visitas .container .images img {
    width: 100%;
    height: 100%;
  }

  .container {
    width: 47%;
    margin: 10px;
  }

  .info {
    margin: 0;
    width: 100%;
    padding: 0;
    position: relative;
    bottom: 20px;
    border: none
  }

  .images {
    display: block;
    text-align: center;
    height: 70%;
    width: 100%;
  }



  /* FIN NUEVO */

  h2 {
    font-size: 34px;
    color: var(--colorGrisOscuro);
    padding-left: 24px;
  }

  .numeros {
    text-align: center;
  }

  .info h4 {
    width: 50%;
  }

  .info h5 {
    width: 50%;
  }

  .info h3 {
    display: block;
    font-size: 18px;
    color: var(--colorGrisOscuro);
    padding-top: 7px;
    padding-left: 15px;
  }

  article i {
    color: var(--colorVerde);
    padding: 7px;
  }

  .circle {
    width: 35px;
    height: 35px;
    margin: 0;
    border-radius: 50%;
    border: 2px solid var(--colorVerde);
  }

  .container .container-info .info .icono {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
    left: 150px;
    bottom: 10px;
  }

  /* ARTICULOS */

  .visitas {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    border-top: 0;
  }


  .ofertas {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    border-top: 0;
  }

  .volverArriba {
    padding: 10px;
    text-align: center;
  }

  /* NUEVO OFERTAS */

  .ofertas .container .images img {
    width: 100%;
    height: 100%;
  }

  .container {
    width: 47%;
    margin: 10px;
  }

  .info {
    margin: 0;
    width: 100%;
    padding: 0;
    position: relative;
    bottom: 20px;
    border: none
  }

  .images {
    display: block;
    text-align: center;
    height: 70%;
    width: 100%;
  }



  /* FIN NUEVO */

  h2 {
    font-size: 34px;
    color: var(--colorGrisOscuro);
    padding-left: 24px;
  }

  .numeros {
    text-align: center;
  }

  .info h4 {
    width: 50%;
  }

  .info h5 {
    width: 50%;
  }

  .info h3 {
    display: block;
    font-size: 18px;
    color: var(--colorGrisOscuro);
    padding-top: 7px;
    padding-left: 15px;
  }

  article i {
    color: var(--colorVerde);
    padding: 7px;
  }

  .circle {
    width: 35px;
    height: 35px;
    margin: 0;
    border-radius: 50%;
    border: 2px solid var(--colorVerde);
  }

  .container .container-info .info .icono {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
    left: 150px;
    bottom: 10px;
  }










  /* FOOTER */

  .copyright h5 {
    padding-left: 10px;
    font-size: 20px;
  }




}